p.headline {font-family:verdana;font-size:13pt;color:#FFFFFF;font-weight:bold;text-align:center}
p.text     {font-family:verdana;font-size:10pt;color:#EEEEEE;margin:1cm;text-align:justify;}
p.text1    {font-family:verdana;font-size:10pt;color:#EEEEEE;margin:1cm;text-align:justify;}
p.text2    {font-family:verdana;font-size:10pt;color:#EEEEEE;margin:1cm;text-align:center;}
p.text3    {font-family:verdana;font-size:12pt;color:#EEEEEE;margin-left:1cm;text-align:justify;}
i          {font-family:verdana;font-size:8pt;color:#FFFFFF;text-align:center}
ul         {font-family:verdana;font-size:10pt;color:#EEEEEE;margin-left:2cm}